@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.italicize {
  font-style: italic;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite {
  margin-top: 20px;
}

.margin-top {
  margin-top: 20px;
}